@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.Container {
  //  styled.div`
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  user-select: none;
  @media (max-width: 724px) {
    padding: 0 10px;
  }
}

.Background {
  // animation: Zooming 5s linear infinite;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  img {
    @include keyframes(zooming) {
      0% {
        transform: scale(1.5);
      }
      100% {
        transform: scale(1);
      }
    }
    //  styled.div`
    @include animate(zooming, 5s, linear, 1);
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.Title {
  //  styled.h1`
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #c0c0c0 0%, #50595b 100%);
  background-clip: text;
  color: #e4e5e6;
  font-family: 'Rubik', sans-serif;
  font-size: 6rem;
  margin-bottom: 0.5em;
  position: relative;
  text-transform: uppercase;

  &:before,
  &:after {
    content: attr(data-text);
    left: 0;
    position: absolute;
    top: 0;
  }

  &:before {
    text-shadow: -0.001em -0.001em 1px rgba(255, 255, 255, 0.15);
    z-index: -1;
  }

  &:after {
    mix-blend-mode: multiply;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
      20px 20px 20px rgba(0, 0, 0, 0.4), 30px 30px 30px rgba(0, 0, 0, 0.1);
    z-index: -2;
  }

  @media (max-width: 1368px) {
    font-size: 5rem;
  }

  @media (max-width: 724px) {
    margin-top: 30px;
    letter-spacing: 4px;
    font-size: 20px;
  }

  @media (orientation: landscape) and (min-width: 600px) and (max-width: 896px) {
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 0.2em;
  }
}
