@font-face {
  font-family: 'Bariol';
  src: url('bariol_regular-webfont.woff2') format('woff2'),
    url('bariol_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
