@font-face {
  font-family: "bariolregular";
  src: url("bariol_regular-webfont.eot");
  src: url("bariol_regular-webfont.woff2") format("woff2"),
    url("bariol_regular-webfont.woff") format("woff"),
    url("bariol_regular-webfont.svg#bariolregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
