.InstallPromptContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (max-width: 724px) {
    margin-bottom: 65px;
  }
}

.InstallPromptContainer_button_container {
  display: flex;
  justify-content: space-around;
}

.InstallPromptContainer_button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
  width: 40%;
  cursor: pointer;
}
