.Swiper {
  min-height: 500px;
  transition: all 200ms ease;
  user-select: none;

  @media (max-width: 724px) {
    min-height: 150px;
    margin-bottom: 20px;
  }

  @media (orientation: landscape) and (min-width: 600px) and (max-width: 896px) {
    min-height: 250px;
  }
}

.Wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  user-select: none;
  background: linear-gradient(
      to left,
      rgba(42, 159, 255, 0) 0%,
      rgba(9, 12, 20, 1) 76%,
      rgba(9, 12, 20, 1) 100%
    ),
    linear-gradient(
      to right,
      rgba(42, 159, 255, 0) 90%,
      rgba(9, 12, 20, 1) 100%
    );
  background-blend-mode: multiply;
  cursor: pointer;

  div {
    align-self: center;
    color: white;
    flex: 1;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    z-index: 1;

    @media (max-width: 724px) {
      font-size: 10px;
    }
  }

  picture {
    float: right;
    width: 75%;
    z-index: -100;
  }

  img {
    object-fit: cover;

    height: 100%;
    width: 100%;
    z-index: -100;
  }

  span {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
  }

  @media (max-width: 724px) {
    background: linear-gradient(
      to bottom,
      rgba(42, 159, 255, 0) 0%,
      rgba(9, 12, 20, 1) 94%,
      rgba(9, 12, 20, 1) 100%
    );
    flex-direction: column-reverse;
    picture {
      width: 100%;
      border-radius: 5px;
    }
    img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      // height: 200px;
    }
    div {
      position: absolute;
    }
    span {
      background: RGBA(9, 12, 20, 0.85);
      margin: auto;
      padding: 0 5px 0 5px;
      font-size: 15px;
      font-weight: 500;
      border-radius: 5px;
    }
  }

  @media (orientation: landscape) and (min-width: 600px) and (max-width: 896px) {
    div {
      font-size: 10px;
    }
    picture {
      width: 75%;
      z-index: -100;
      float: right;
    }

    img {
      width: 100%;
      // height: 300px;
      height: 100%;

      z-index: -100;
    }

    span {
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.Overview {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0 40px 0 40px;
  text-align: justify;

  @media (max-width: 724px) {
    display: none;
  }
  @media (orientation: landscape) and (min-width: 600px) and (max-width: 896px) {
    font-size: 10px;
    padding: 0 10px 0 10px;
    letter-spacing: 0px;
    font-weight: 400;
  }
}
