@use './headerPadding';

.container {
  position: relative;
  min-height: calc(100vh - 65px);
  margin-bottom: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: -55px;

  @media(max-width:870px){
     margin-top:0;
  }

  @media (max-width: 724px) {
    padding: 10px calc(3.5vw + 5px);
  }


}
