@use './headerPadding';

.container {
  min-height: 90vh;
  padding: 50px 0;
  @media (max-width: 724px) {
    padding-top: 0;
  }
  @include headerPadding.headerPadding;
}

.player_container {
  position: relative;
  width: 100%;
  height: 450px;
  @media (max-width: 724px) {
    height: 300px;
  }

  &:hover {
    .quality_dropdown {
      opacity: 1;
      visibility: visible;
    }
  }
}

.top_portion {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(30, 43, 57, 1);
}

.player_container_show {
  flex-direction: row;
  background-color: rgb(30, 43, 57, 0.6);
  width: 85%;
}

.quality_dropdown {
  border: 1px solid rgb(72, 103, 120);
  background-color: rgb(29, 43, 57);
  color: rgb(139, 133, 119);
  padding: 8px;
  margin: 10px;
  border-radius: 6px;
  position: absolute;
  bottom: 30px;
  right: 15px;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease 500ms;
  cursor: pointer;
}

.rest_container {
  padding: 0 20px;
}

.episodeContainer {
  width: 15%;
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  height: min-content;
}

.episodeSelector {
  // border: 1px solid rgb(72, 103, 120);
  border: none;
  background-color: rgb(29, 43, 57);
  color: rgb(139, 133, 119);
  height: 30px;
  width: 30px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  margin: 10px 10px;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: rgb(29, 43, 57, 0.5);
  }
}

.qualityBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgb(30, 43, 57, 1);
  color: rgb(139, 133, 119);
}

.qualitySelector {
  background-color: rgba(29, 43, 57, 1);
  color: rgb(139, 133, 119);
  padding: 5px 8px;
  border-radius: 5px;
  margin: 0 6px;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: rgb(29, 43, 57, 0.5);
  }
}
