.container {
  padding-top: 50px;
  height: 90vh;
  @media (max-width: 724px) {
    padding-top: 0;
  }
}

.player_container {
  width: 100%;
  height: 500px;
  @media (max-width: 724px) {
    height: 800px;
  }
}
